@{
    ViewData["Title"] = "Home Page";
}

<div class="mb-5">
    <div class="p-5 text-center bg-body-tertiary bg-dark">
        <div class="container py-5 text-white">
            <h1 class="text-body-emphasis">@_localization.Getkey("Welcome")</h1>
            <p class="col-lg-8 mx-auto lead">
                @_localization.Getkey("firstWrite")
            </p>
        </div>
    </div>
</div>



<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <h2 class="fw-normal">@_localization.Getkey("departmen")</h2>
            <p>@_localization.Getkey("departWrite")</p>
            <p><a class="btn btn-secondary" href="#">@_localization.Getkey("view") &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <h2 class="fw-normal">@_localization.Getkey("doctor")</h2>
            <p>@_localization.Getkey("doctorWrite")</p>
            <p><a class="btn btn-secondary" href="#">@_localization.Getkey("view") &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <h2 class="fw-normal">@_localization.Getkey("maindepart")</h2>
            <p>@_localization.Getkey("maindepartWrite")</p>
            <p><a class="btn btn-secondary" href="#">@_localization.Getkey("view") &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">First featurette heading. <span class="text-body-secondary">It’ll blow your mind.</span></h2>
            <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" style="height:500px;width:500px" src="https://ik.imagekit.io/asm/Images/Sliders/Tumbnail/beyin-omurilik-ve-sinir-cerrahisinde-hibrit-ameliy-9392883.jpg" focusable="false" />
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-body-secondary">See for yourself.</span></h2>
            <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" style="height:500px;width:500px" src="https://www.aydinlatma.org/wp-content/uploads/2017/07/Okul-Derslik-Sinif-Aydinlatmasi-1024x576.jpg" focusable="false" />
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-body-secondary">Checkmate.</span></h2>
            <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
            <p><a class="btn btn-secondary" href="#">@_localization.Getkey("view") &raquo;</a></p>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" style="height:500px;width:500px" src="https://cekirge.sirv.com/WP_www.eminealtiay.com/2020/10/randevu.png" focusable="false" />
        </div>
    </div>

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->
