@model IEnumerable<HospitalManagment.Models.appointment>

@{
    ViewData["Title"] = "Appointment Admin Panel";
}

<main class=>
    <div class="container">
        <header class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="users" asp-action="Index">User Admin Panel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="doctors" asp-action="Index">Doctor Admin Panel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="departments" asp-action="Index">Departmen Admin Panel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-area="" asp-controller="appointments" asp-action="Index">Appointment Admin Panel</a>
                </li>
            </ul>
        </header>
    </div>


    <h1 class="text-center align-content-center display-4">Appointment Admin Panel</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.justDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.users)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.doctors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.justDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.users.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.doctors.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.department.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
