@model IEnumerable<HospitalManagment.Models.doctors>

@{
    ViewData["Title"] = "Doctor Admin Panel";
}

<div class="container">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link " asp-area="" asp-controller="users" asp-action="Index">User Admin Panel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" asp-area="" asp-controller="doctors" asp-action="Index">Doctor Admin Panel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="departments" asp-action="Index">Departmen Admin Panel</a>
            </li>
        </ul>
    </header>
</div>
<h1>Doctor Admin Panel</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.holidayDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.workingHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.holidayDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.workingHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.department.role)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
